// ----------------------------------
// =site header
// ----------------------------------

.c-siteheader {
  text-align: center;
  padding-top: calc(60 / 16 * 1rem);
  padding-bottom: calc(60 / 16 * 1rem);

  @include breakpoint(large) {
    padding-top: calc(90 / 16 * 1rem);
    padding-bottom: calc(90 / 16 * 1rem);
  }
}

.c-siteheader__logo {
  margin-bottom: calc(72 / 16 * 1rem);

  @include breakpoint(medium) {
    margin-bottom: calc(84 / 16 * 1rem);
  }

  @include breakpoint(large) {
    margin-bottom: calc(120 / 16 * 1rem);
  }
}
