// ----------------------------------
// =button
// ----------------------------------

.c-button {
  display: inline-block;

  padding: calc(14 / 16 * 1rem) calc(24 / 16 * 1rem);
  border-radius: 30px;
  background-color: var(--color-brand2);
  color: var(--color-white);
  text-align: center;
  text-decoration: none;
  line-height: 1;
  cursor: pointer;

  transition: background-color 0.2s ease-in-out;
}

.c-button:hover {
  background-color: var(--color-brand1);
}
