// ----------------------------------
// =header data
// ----------------------------------

.c-headerdata {
  position: relative;
  padding-bottom: calc(30 / 16 * 1rem);
  margin-bottom: calc(30 / 16 * 1rem);
}

.c-headerdata::after {
  content: "";
  height: 1px;
  width: 60px;
  background-color: var(--color-brand2);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

.c-headerdata__date {
  font-weight: 400;
  font-size: calc(20 / 16 * 1rem);
  font-family: var(--fontstack-alt);
  font-style: italic;
  color: var(--color-gray4);
  margin-bottom: calc(6 / 16 * 1rem);

  @include breakpoint(medium) {
    font-size: calc(23 / 16 * 1rem);
  }

  @include breakpoint(large) {
    font-size: calc(29 / 16 * 1rem);
  }
}

.c-headerdata__title {
  font-weight: 400;
  font-size: calc(36 / 16 * 1rem);
  line-height: 1.2;
  font-family: var(--fontstack-main);
  color: var(--color-brand2);
  margin-bottom: calc(6 / 16 * 1rem);

  @include breakpoint(medium) {
    font-size: calc(58 / 16 * 1rem);
  }

  @include breakpoint(large) {
    font-size: calc(66 / 16 * 1rem);
  }
}

.c-headerdata__location {
  font-weight: 400;
  font-size: calc(20 / 16 * 1rem);
  font-family: var(--fontstack-alt);
  font-style: italic;
  color: var(--color-gray6);
  margin-bottom: 0;

  @include breakpoint(medium) {
    font-size: calc(23 / 16 * 1rem);
  }

  @include breakpoint(large) {
    font-size: calc(29 / 16 * 1rem);
  }
}
