// ----------------------------------
// =event quote
// ----------------------------------

.c-eventquote {
  font-weight: 400;
  font-size: calc(18 / 16 * 1rem);
  line-height: calc(30 / 18);
  color: var(--color-gray5);
}
