---
permalink: index.html
---
{% extends "layouts/base.njk" %}

{% set metaTitle = "Accueil" %}
{% set metaImage = site.metaImage %}

{% from "macros/speakerItem.njk" import speakerItem %}

{% block content %}

  <div class="c-pagesection">
    <div class="l-container">

      <div class="c-programme">
        <div class="c-programme__media">

          <p class="c-programme__image">
            <img src="/assets/img/programme-400.jpg"
                 srcset="/assets/img/programme-400.jpg 400w,
                         /assets/img/programme-600.jpg 600w,
                         /assets/img/programme-800.jpg 800w"
                 sizes="(min-width: 1024px) 50vw,
                        100vw"
                 class="o-fluidimage"
                 alt="Flagey au printemps">
          </p>

        </div>
        <div class="c-programme__content">

          <h2 class="c-h2">Programme</h2>
          <p>Cette année, EQUAL fête ses 6 ans d’existence et le départ à la retraite d'Eric Gillet. Deux raisons, au moins, de se réjouir avec vous lors de cet EQUAL DAY 2021.</p>
          <p>Profitons de ce moment convivial et festif pour inventer le futur et papoter autour d’un bon repas.</p>

          <ul class="c-vlist">
            <li>
              <article class="c-event">
                <h3 class="c-event__title"><time>19h00</time> - <time>19h45</time>: <span>Accueil &amp; Apéritif</span></h3>
                <p class="c-event__content">Nous serons ravis de voir revoir et de prendre un verre ensemble après ces longs mois que nous venons de vivre.</p>
              </article>
            </li>
            <li>
              <article class="c-event">
                <h3 class="c-event__title"><time>19h45</time> - <time>20h45</time>: <span>Inventer le Futur</span></h3>
                <p class="c-event__content">Séance de "quick Speeches" par différents intervenants sous la houlette de Christophe Dubois.</p>
              </article>
            </li>
            <li>
              <article class="c-event">
                <h3 class="c-event__title"><time>20h45</time> - <time>23h00</time>: <span>Diner et animation musicale</span></h3>
                <p class="c-event__content">Diner préparé par <a href="https://brutfood.be/">Brut Food</a>. Animation musicale assurée par le groupe "Qui Swing-je" jusqu'en fin de soirée.</p>
              </article>
            </li>
          </ul>

        </div>
      </div>

    </div>
  </div>
  <div class="c-pagesection">
    <div class="l-container">

      <h2 class="u-hide">Intervenants</h2>

      {% set speakers = collections.speakers %}
      {% for speaker in speakers %}
        {% if loop.first %}<ul class="l-grid  l-grid--gap  l-grid--2cols@small   l-grid--3cols@medium  l-grid--4cols@large">{% endif %}
          <li>
            {{ speakerItem(
              url = speaker.data.url,
              name = speaker.data.name,
              surname = speaker.data.surname,
              function = speaker.data.function,
              image = speaker.data.image
            ) }}
          </li>
        {% if loop.last %}</ul>{% endif %}
      {% endfor %}

    </div>
  </div>
{% endblock %}
