// ----------------------------------
// =colors
// ----------------------------------

:root {
  --color-brand1: #8c9011;
  --color-brand2: #a8aa0b;
  --color-brand3: #aab72c;
  --color-brand4: #dde2ab;
  --color-brand5: #f1f3dd;

  --color-gray1: #19191a;
  --color-gray2: #323334;
  --color-gray3: #454648;
  --color-gray4: #656769;
  --color-gray5: #7f8184;
  --color-gray6: #b2b3b5;
  --color-gray7: #c5c6c7;
  --color-gray8: #ebecec;
  --color-gray9: #f8f8f8;

  --color-white: #ffffff;
  --color-black: #000000;
}
