<footer class="c-sitefooter">
  <div class="l-container">
    <p class="c-sitefooter__copyright">&copy; <a href="https://www.equalpartners.eu">Equal Partners</a> {{ site.buildDate | date("YYYY") }} - Editions précédentes: <a href="https://2018.equalday.eu">2018</a> / <a href="https://2019.equalday.eu">2019</a></p>
  </div>
</footer>