<header class="c-siteheader">
  <div class="l-container  l-container--medium">
    <p class="c-siteheader__logo">{% include "svg/logo.svg" %}</p>

    <div class="c-siteheader__info">
      <div class="c-eventdata">
        <p class="c-eventdata__date"><time datetime="2021-09-16">16 Septembre 2021</time></p>
        <h1 class="c-eventdata__title">Inventer le Futur</h1>
        <p class="c-eventdata__location">Bruxelles - Flagey</p>
      </div>
    </div>

    <div class="c-siteheader__quote">
      <div class="c-eventquote">
        <p>Comment s’imaginer un avenir, lorsqu’il ne repose plus sur l’évidence du progrès? Comment tout simplement se figurer un futur, entre déni des enjeux et crainte de l’effondrement?</p>
      </div>
    </div>

    <div class="c-siteheader__booking">
      <div class="c-booking">
        <p class="c-booking__cta">
          <span class="c-booking__intro">Places limitées, réservez sans tarder</span>
          <a class="c-booking__link" href="{{ event.bookingUrl }}">Réserver</a>
        </p>
        <div class="c-booking__legal  u-text-s">
          <p>les mesures COVID nous contraignent à demander aux participants de présenter un <a href="https://www.masante.belgique.be">COVID Safe Ticket</a> à l'entrée. Les <a href="https://www.flagey.be/fr/page/7708-nos-mesures-de-securite-covid-19">mesures de sécurité COVID</a> à Flagey dans le détail.</p>
        </div>
      </div>
    </div>

  </div>
</header>