<header class="c-siteheader">
  <div class="l-container  l-container--medium">
    <p class="c-siteheader__logo">{% include "svg/logo.svg" %}</p>

    <div class="c-siteheader__info">
      <div class="c-eventdata">
        <p class="c-eventdata__date"><time datetime="2021-09-16">16 Septembre 2021</time></p>
        <h1 class="c-eventdata__title">Inventer le Futur</h1>
        <p class="c-eventdata__location">Bruxelles - Flagey</p>
      </div>
    </div>

    <div class="c-siteheader__quote">
      <p>Comment s’imaginer un avenir, lorsqu’il ne repose plus sur l’évidence du progrès? Comment tout simplement se figurer un futur, entre déni des enjeux et crainte de l’effondrement?</p>
    </div>

    <div class="c-booking">
      <div class="c-booking___cta">
        <p class="c-booking__intro">Places limitées, réservez sans tarder</p>
        <p><a class="c-booking__button" href="#">Réserver</a></p>
      </div>
      <p class="booking__legal">les mesures COVID nous contraignent à demander aux participants de présenter un <a href="#">COVID Safe Ticket</a> à l'entrée.</p>
    </div>

  </div>
</header>